{% extends 'base.html.twig' %}

{% block title %}Administratif{% endblock %}

{% block body %}
    <a class="btn btn-secondary" href="{{ path('admin') }}">Retour</a>
    <br>
    <div class="btn-group float-right">
        <a class="btn btn-dark" href="{{ path('rapport') }}" target="_blank">Télécharger le rapport</a>
        <a class="btn btn-secondary" href="{{ path('download_invoices') }}" target="_blank">Télécharger toutes les
            factures</a>
    </div>
    <br>
    <h1>Administratif</h1>
    <br>
    <div class="jumbotron">
        <h1 class="display-6">Livre des recettes de l'année</h1>
        <hr class="my-4">
        <table class="table table-hover" id="compta-mois">
            <thead>
            <tr>
                <th scope="col">Référence</th>
                <th scope="col">Date de livraison</th>
                <th scope="col">Client</th>
                <th scope="col">Moyen de paiement</th>
                <th scope="col">Montant</th>
                <th scope="col">Facture</th>
            </tr>
            </thead>
            <tbody>
            {% for commande in commandes|filter(c => c.modePaiement is not null and c.modePaiement != 'ACC' and c.modePaiement != 'NP' and c.dateLivraison|date('Y') == 'now'|date('Y')) %}
                <tr>
                    <td>
                        <b>{{ societe_acronyme ~ commande.dateLivraisonSouhaitee|date('Ym') ~ '%05d'|format(commande.id) }}</b>
                    </td>
                    <td>{{ commande.dateLivraison|date("Y-m-d H:i") }}</td>
                    <td>{{ commande.client }}</td>
                    <td>
                        {% if commande.modePaiement == 'ESP' %}
                            <span class="badge badge-dark">ESPÈCE</span>
                        {% elseif commande.modePaiement == 'CB' %}
                        <span class="badge badge-primary">CARTE BANCAIRE</span>
                        {% elseif commande.modePaiement == 'CHQ' %}
                            <span class="badge badge-info">CHÈQUE</span>
			{% elseif commande.modePaiement == 'VIR' %}
			    <span class="badge badge-success">VIREMENT</span>
                        {% endif %}
                    </td>
                    <td><b>{{ commande.montant|number_format(2) }} €</b></td>
                    <td><a class='btn btn-info btn-sm' href="{{ path('app_commande_facture', {'id': commande.id}) }}"
                           target="_blank">Facture</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="application/javascript">
        $('#compta-mois').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.11.5/i18n/fr-FR.json'
            },
            pageLength: 50,
            aaSorting: []
        })
    </script>
{% endblock %}
